@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-background: #1f2128;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
